name: Sync to OSS
on:
  push:
    branches:
      - master # 这里可以根据您的需要更改分支名称
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      # 执行应用打包步骤
      - name: Install dependencies and build
        run: |
          npm install -g yarn
          yarn install
          yarn build
      - name: Sync files to OSS
        uses: manyuanrong/setup-ossutil@v2.0
        with:
          endpoint: 'oss-cn-beijing.aliyuncs.com'
          access-key-id: ${{ secrets.OSS_KEY }}
          access-key-secret: ${{ secrets.OSS_SECRET }}
      - run: ossutil cp -rf ./dist oss://website-al
